<ul>
  <% if @posts.blank? %>
    <li>
      いいねした投稿がありません。
    </li>
  <% else %>
    <% @posts.each do |post| %>
      <li>
        <%= post.description %>
      </li>
    <% end %>
  <% end %>
</ul>
